<html>
<head>
    <title>Create Customer</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3>Create Customer</h3>
        <form action="/Home/CreateWithForm" method="post">
            <div class="form-group">
                <label>Customer Name:</label>
                <input type="text" name="firstName" class="form-control" />
            </div>

            <div class="form-group">
                <label>Customer Last Name:</label>
                <input type="text" name="lastName" class="form-control" />
            </div>

            <div class="form-group">
                <label>Customer Age:</label>
                <input type="text" name="age" class="form-control" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</body>
</html>