@model Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h3>Create Customer</h3>
        <form asp-action="Create" asp-controller="Home" method="post">
            <div class="form-group">
                <label>Customer Name:</label>
                <input asp-for="@Model.FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label>Customer Last Name:</label>
                <input asp-for="@Model.LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label>Customer Age:</label>
                <input asp-for="@Model.Age" class="form-control" />
            </div>
            <div class="form-group text-right mt-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>