@model Mvc.Models.Customer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head>
        <title>Update Customer</title>
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h3>Update - Customer</h3>
            <form asp-action="Update" asp-controller="Home" method="post">
                <input type="hidden" name="id" value="@Model.Id"/>
                <div class="form-group">
                    <label>First Name:</label>
                    <input class="form-control" asp-for="@Model.FirstName"/>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input class="form-control" asp-for="@Model.LastName" />
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <input class="form-control" asp-for="@Model.Age" />
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </body>
</html>