@model Mvc.Models.Customer

<html>
    <head>
        <style>
            h1{
                font-size: 42px;
                text-align:center;
                color:#fff;
                background-color: rgb(21,31,43);
                border-radius: 10px;

            }
        </style>
    </head>
    <body>
        <h1>
            Hello World!
        </h1>
    </body>
</html>